dist/
node_modules/
dist-types/
lib/
output/

# // "files": [
# //   "dist"
# // ]
# // "exports": {
# //   ".": "./dist",
# //   "./patient": "./dist/patient",
# //   "./types": "./dist/types",
# //   "./error": "./dist/error"
# // }
